<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

	<connectionStrings>
		<add name="DefaultConnectionTest" connectionString="kTzpy3F0iVANqMdwVAzbfKB3Ley4DE/EQ62lG0JryRzD0LVloZw/OUwumbRrzE+yCN7S60njvUcF9asZLHDM6QXvGze64iLcCnbZXYdDkqBbVHnWKzuJ2qJVTxTXN0sd9kAd9HHb+CSMPqRltDnHX9Z2jTK6ci5EW1DUUCpHCNWwzRxkgpd9AI6pNQsHEaDG" providerName="System.Data.SqlClient" />
		<add name="DefaultConnection" connectionString="kTzpy3F0iVANqMdwVAzbfKB3Ley4DE/EQ62lG0JryRzD0LVloZw/OUwumbRrzE+yWCzdP0e/Sa8pFZNhptlppB5nsNKISih04i7wVJRXRVpY2Wf14q6vBMv/tFFSTav4u4wWVc3WTIM/idUDBNM69HE9S4nUFFHonk8TGPhPHj7Xjq+LrE47/voyDkntIRbb" providerName="System.Data.SqlClient" />
		<add name="DefaultConnectionDES" connectionString="XBo46ROG61Y5w6rhWPFTnZX1H3fQi2pCAC+/Isxlwa7YZ264r4naIHBfqIxbslmIuB59vq2CvV8P0ZGP+he9qi6X5t9hlgdnLlf1iDe38yYN1Tmdp3TVV5COg/lVWcP2W2Ocp0hsHvEYo69FKwVpv4ObQLSyaD7+epWtie6494Qo/Q0nAe36CrGDZwsSWLPS" providerName="System.Data.SqlClient" />
		<add name="ProveedoresConnectionDES" connectionString="XBo46ROG61Y5w6rhWPFTnZX1H3fQi2pCAC+/Isxlwa6+jC0v5rzSiKk7/FfM6WDfIFkyzGZbDKwmK6Yd0fa/m5q5xbkH0tvhhQtNQWlmCzLHRkAstpoF9K57Y42Z4fVfEOQvBHIPdmSBQPmrsO/mpoaxod46zC1FnYxic0qqvU4Y+gWZ9Ga3mWS4QL9ywexI" providerName="System.Data.SqlClient" />
		<add name="ProveedoresConnection" connectionString="cnbvXIUivZRFSgMkctWvBXLfFsVPpJZe/oOTe6jvAa+cj5iX3TKqOMX9s6g8J0uzOm4Ufu7Epg13DKMQ3dg88peSrcsSxOiGoj7VfaP3ci5bhj/fmPlO85yIpi9sUUeCDLLKaGOO4jG90vs2xcFfUguRgoCBzzhbc7M8xJldQhKO3GkKPPl8PQwLbilqn+C5" providerName="System.Data.SqlClient" />
		<!--<add name="DefaultConnection2" connectionString="Data Source =LAPTOP-4AN23J2H\SQLEXPRESS; Initial Catalog = db_TemplateTest; User ID = alexchg; Password=lmad2014;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
		
		
	</connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	  <add key="HostUrl" value="http://localhost:54689/"/>
	  <add key="SMTPHost" value="3OzZf/CQ8KBtiS4yRYMmGey2M1Efvkb0NK+sDK1+gk4="/>
	  <add key="SMTPPort" value="25"/>
	  <add key="SMTPUsername" value="aU4wR0Tzi94lfXQJOMNImojGYsv+8Nv0chTnyX0VzIU="/>
	  <add key="SMTPPassword" value=""/>
	  <add key="SMTPSSL" value="true"/>
	  <add key="SMTPDefaultCredentials" value="true"/>
	  <add key="SMTPDeliveryMethod" value="Network"/>
	  <add key="PI_filepath" value="PI\RegistrosMarca"/>
	  <add key="Contratos_filepath" value="Contratos\Contratos"/>
	  <add key="Clientes_filepath" value="Contratos\Clientes"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
	  <sessionState timeout="1440"></sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExtreme.AspNet.Data" publicKeyToken="982f5dab1439d0f7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.0" newVersion="2.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
		  </requestFiltering>
	  </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BPELNomProvClienBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BPELNomProvClienBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
        <!--<endpoint address="https://testapps.gis.com.mx:8002/soa-infra/services/GIS-JURIDICO/WS_NombreProveedorCliente/bpelnomprovclien_client_ep"
        binding="basicHttpBinding" bindingConfiguration="BPELNomProvClienBinding"
        contract="PortalJuridicoWS_RFC.BPELNomProvClien" name="BPELNomProvClien_pt" />-->
        <endpoint address="https://interfaces.gis.com.mx:8002/soa-infra/services/GIS-Juridico/WS_NombreProveedorCliente/bpelnomprovclien_client_ep?WSDL"
        binding="basicHttpBinding" bindingConfiguration="BPELNomProvClienBinding"
        contract="PortalJuridicoWS_RFC.BPELNomProvClien" name="BPELNomProvClien_pt" />
    </client>
  </system.serviceModel>
</configuration>